<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operation.name %>
</p>

<p>
  <strong>Mobility:</strong>
  <%= @operation.mobility %>
</p>

<p>
  <strong>Table name:</strong>
  <%= @operation.table_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @operation.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @operation.end_date %>
</p>

<p>
  <strong>Week day:</strong>
  <%= @operation.week_day %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
